# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/

# Django-specific
*.log
/media/
staticfiles/
*.pot

# If you're using pipenv or poetry
Pipfile
Pipfile.lock
poetry.lock

# If using MySQL or PostgreSQL locally

# Ignore environment variables
.env
.envrc
*.secrets

# VSCode & JetBrains IDE files
.vscode/
.idea/
*.iml

# MacOS and Linux
.DS_Store
*.swp
.swo
.swp

# Compiled static files

